.Title {
  box-sizing: border-box;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em 3em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
  margin: 0 3em;
}

.nav-links .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
}


@media only screen and (max-width: 800px) {
  .Title {
    flex-direction: column;
    align-items: center;
    padding: 1em 1em;
  }

  .nav-links a {
    margin: 0 1em;
  }
}
