.POPOSSpace {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

}

.POPOSSpace:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.POPOSSpace figure{
  margin: 0;
}

.POPOSSpace img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
.hours {
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
}

.POPOSSpace .POPOSSpace-link {
  text-decoration: none;
  color: #000;
}

.POPOSSpace h1 {
  margin: 0;
  font-weight: lighter;
  padding: 1rem;
  text-align: left;
}

.POPOSSpace .POPOSSpace-info {
  text-align: right;
}

.POPOSSpace .POPOSSpace-info p {
  padding: 0.25em 0.5em;
  margin: 0;
}
